In [2]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
#reading jsons or other files
df = spark.read.json('/home/ubuntu/Python-and-Spark-for-Big-Data-master 3/Spark_DataFrames/people.json')

In [5]:
df.show() #show D

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema() #print DF Info

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [22]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [23]:
#Schema not always detected by itself

In [9]:
from pyspark.sql.types import StructField, StringType, IntegerType,StructType

In [10]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)] #declaring types for columns

In [11]:
final_struc = StructType(fields = data_schema)

In [12]:
df = spark.read.json('/home/ubuntu/Python-and-Spark-for-Big-Data-master 3/Spark_DataFrames/people.json', schema = final_struc)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df['age'] #just a column object

Column<b'age'>

In [18]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [21]:
df.head(2)[0] #row object

Row(age=None, name='Michael')

In [22]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [23]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [26]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [27]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [28]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [29]:
###Using direct SQL

In [32]:
df.createOrReplaceTempView('people') #register as sql temp view

In [34]:
results = spark.sql("SELECT * FROM people")

In [36]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [37]:
new_results = spark.sql("SELECT * FROM people where age = 30")

In [39]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+